{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
    .alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.alert-success {
    background: #d4edda;
    color: #155724;
}
.alert-error {
    background: #f8d7da;
    color: #721c24;
}
</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login / Register</title>
  <link rel="stylesheet" href="{% static 'style1.css' %}">
  <script src="{% static 'script1.js' %}"></script>
</head>
<body>
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
         {{ message }}
      </div>
    {% endfor %}
    <div class="container">
      <h2>Register / Login</h2><br>
        <form id="loginForm" action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" formaction="{% url 'signup' %}">Submit</button>
        </form>
    </div>
</body>
</html>
